a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_389f94e9 a { text-decoration: none; }
#menu_389f94e9_pane { background-color: #FFFFFF; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.392157); }
#menu_389f94e9_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_389f94e9_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_389f94e9_entry:hover { background-color: #494949; color: #FFFFFF !important; }
#menu_389f94e9_entry:hover span { color:#FFFFFF !important; }
		.menu_389f94e9_mainMenuEntry { text-align: center; }
		.menu_389f94e9_mainMenuEntry:hover {	background-color:#494949; }
		.menu_389f94e9_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_389f94e9 .mobileEntry { display: none; } 
		#menu_389f94e9 .normalEntry { display: block; } 
		#menu_389f94e9_menualignmentwrapper{ width:300px; left: calc(100% - 300px);  } 
		@media only screen and (max-width:650px) { 
			#menu_389f94e9 .mobileEntry { display: block; } 
			#menu_389f94e9 .normalEntry { display: none; } 
			#menu_389f94e9_menualignmentwrapper { width:38px; left: calc(100% - 38px);  } 
		}
#button_3f2a74de { box-sizing: border-box; vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF; border: 1px solid #C4C4C4;  }
#button_3f2a74de:hover { background-color:#DFDFDF; border-color:#C4C4C4;  }
#button_3f2a74de:hover span { color:#000000; }
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.site-header { padding: 10px 0; }
.site-logo { max-width: 120px; height: auto; display: inline-block; vertical-align: middle; border-radius: 8px; }
.textstyle1 { text-align:center; }
#container_485b185d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
.textstyle2 { text-align:left; }
#container_303403ae { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:76px; background-color:#FFFFFF;  }
#container_303403ae_padding { margin: 10px; display: block;  }
.textstyle3 { text-align:right; }
#menu_389f94e9 { vertical-align: bottom; position:relative; display: inline-block; width:294px; height:28px; text-align:left; background:none;  }
#menu_389f94e9_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:28px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle4 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:80px; height:28px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle5 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#0000FF;  white-space: nowrap; }
.textstyle6 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#0000FF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:64px; height:28px; left:80px;  }
.menustyle4 { position:absolute; width:74px; height:28px; left:144px;  }
.menustyle5 { position:absolute; width:82px; height:28px; left:218px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  white-space: nowrap; }
#button_8b63d45 { vertical-align: bottom; border-radius: 9px; position:relative; display: inline-block; margin:0px 0px 0px 20px;height:40px; background:none;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2E2E2E; font-weight:bold;  }
#container_6f2de838 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:158px; background-color:#FFFFFF; background-image: url(rc_images/scraper5.jpg); background-position:center left; background-size:cover;  }
#container_6f2de838_padding { margin: 10px; display: block;  }
.textstyle9 { font-size:26pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle10 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
#container_4fecba6b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_4fecba6b_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_1cce4da9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_1cce4da9_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:8pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
#container_b9b6ebc { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_b9b6ebc_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#560C69; font-weight:bold; line-height: 1.5;  }
.textstyle14 { font-size:8pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle15 { font-size:8pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#00FF00; line-height: 1.5;  }
.textstyle16 { font-size:8pt; font-family:'Arial Black', Gadget, sans-serif; color:#00FF00;  }
#container_6df79412 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_6df79412_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_8a73aad { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_8a73aad_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle19 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
.textstyle20 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4B277C; font-weight:bold;  }
.textstyle21 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
@media only screen and (max-width: 650px)
{
		#menu_389f94e9 { width:150px;  }
}
@media only screen and (max-width: 640px)
{
		#button_8b63d45 * span { font-size:12pt;  }
}
