h1, h2, h3 { margin:0; padding:0; font-weight:normal; font-style:normal; }
a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_3bf16073 a { text-decoration: none; }
#menu_3bf16073_pane { background-color: #000040; border: 1px solid #FFFFFF; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.392157); }
#menu_3bf16073_hr { background-color: #FFFFFF; height: 1px; border: none; }
#menu_3bf16073_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_3bf16073_entry:hover { background-color: #494949; color: #FFFFFF !important; }
#menu_3bf16073_entry:hover span { color:#FFFFFF !important; }
		.menu_3bf16073_mainMenuEntry { text-align: center; }
		.menu_3bf16073_mainMenuEntry:hover {	background-color:#494949; }
		.menu_3bf16073_mainMenuEntry:hover span {	color:#FFFFFF !important; }
		#menu_3bf16073 .mobileEntry { display: none; } 
		#menu_3bf16073 .normalEntry { display: block; } 
		#menu_3bf16073_menualignmentwrapper{ width:312px; left: calc(100% - 312px);  } 
		@media only screen and (max-width:650px) { 
			#menu_3bf16073 .mobileEntry { display: block; } 
			#menu_3bf16073 .normalEntry { display: none; } 
			#menu_3bf16073_menualignmentwrapper { width:38px; left: calc(100% - 38px);  } 
		}
#button_2120d1ae { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#FFFFFF;  }
#button_2120d1ae:hover { background-color:#DFDFDF;  }
#button_2120d1ae:hover span { color:#000000; }
#button_4b8833a { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; margin:10px 0px 0px 0px;width:150px; height:40px; background-color:#FFFFFF;  }
#button_4b8833a:hover { background-color:#DFDFDF;  }
#button_4b8833a:hover span { color:#FFFFFF; }
#button_d0123cd { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#374459;  }
#button_d0123cd:hover { background-color:#998181;  }
#button_d0123cd:hover span { color:#FFFFFF; }
#button_19c09732 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#6D5757;  }
#button_19c09732:hover { background-color:#998181;  }
#button_19c09732:hover span { color:#FFFFFF; }
#button_4864e083 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#374459;  }
#button_4864e083:hover { background-color:#998181;  }
#button_4864e083:hover span { color:#FFFFFF; }
#button_3cf630c5 { vertical-align: bottom; border-radius: 20px; position:relative; display: inline-block; width:150px; height:40px; background-color:#FFFFFF;  }
#button_3cf630c5:hover { background-color:#DFDFDF;  }
#button_3cf630c5:hover span { color:#000000; }
body { background-color:#C0C0CC; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_2150fa7f { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:100px; background-color:#FFFFFF;  }
#container_2150fa7f_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:right; }
#menu_3bf16073 { vertical-align: bottom; position:relative; display: inline-block; width:337px; height:37px; text-align:left; background-color:#FFFFFF;  }
#menu_3bf16073_menualignmentwrapper { position: relative; overflow: visible; height: 100%; }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:38px; height:37px; left:0px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:34px;  }
.textstyle3 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  white-space: nowrap; }
.menustyle2 { position:absolute; width:80px; height:37px; left:0px;  }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#0000FF;  white-space: nowrap; }
.textstyle5 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#0000FF;  white-space: nowrap; }
.menustyle3 { position:absolute; width:64px; height:37px; left:80px;  }
.menustyle4 { position:absolute; width:82px; height:37px; left:144px;  }
.menustyle5 { position:absolute; width:86px; height:37px; left:226px;  }
.textstyle6 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#656565;  white-space: nowrap; }
#container_5405cb1f { vertical-align: top; position:relative; display: inline-block; width:97%; min-height:66px; background:none;  }
#container_5405cb1f_padding { margin: 10px; display: block;  }
.textstyle7 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2E2E2E; font-weight:bold;  }
.textstyle8 { text-align:center; }
#container_6bb1ef27 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:1200px; background:none;  }
#container_77b41708 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:386px; background-color:#FFFFFF; background-image: url(rc_images/scraper5.jpg); background-position:center left; background-size:cover;  }
#container_77b41708_padding { margin: 10px; display: block;  }
#heading_3e6d7916 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
#carousel_4ff4b861 { overflow:hidden; vertical-align: top; position:relative; display: inline-block; width:89%; aspect-ratio: 3.333333; background:none;  }
#carousel_4ff4b861_page1 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#heading_3771cb8a { vertical-align: bottom; position:relative; display: inline-block; width:213px; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle9 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#carousel_4ff4b861_page2 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
#heading_2a6791f0 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle10 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2B2B2B; font-weight:bold;  }
.textstyle11 { font-size:26pt; font-family:'Arial Black', Gadget, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.196078);  }
.textstyle12 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#2F2F2F; font-weight:bold;  }
#container_3ae7ee26 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:802px; background-color:#F3F3F5;  }
#container_3ae7ee26_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold;  }
#container_30cd4bd2 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_30cd4bd2_padding { margin: 10px; display: block;  }
#container_38b2d1f2 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_38b2d1f2_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459; font-weight:bold;  }
.textstyle16 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#374459;  }
.textstyle17 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_40bc1880 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_40bc1880_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#374459;  }
#container_19252999 { vertical-align: top; border-radius: 15px; position:relative; display: inline-block; margin:10px; width:30%; min-height:150px; background-color:#FFFFFF;  }
#container_19252999_padding { margin: 10px; display: block;  }
#container_3cab291b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#F3F3F5;  }
#container_3cab291b_padding { margin: 10px; display: block;  }
.textstyle19 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#9E9E9E;  }
#container_16e8edc5 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_16e8edc5_padding { margin: 10px; display: block;  }
.textstyle20 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; line-height: 1.5;  }
.textstyle21 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#4F4F4F; font-weight:bold; line-height: 1.5;  }
#heading_1483ef12 { vertical-align: bottom; position:relative; display: inline-block; background:none; font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; text-align:left;  }
.textstyle22 { font-size:36pt; font-family:'Arial Black', Gadget, sans-serif; color:#9E9E9E;  }
#heading_69f7d430 { vertical-align: bottom; position:relative; display: inline-block; width:250px; background:none; font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#404040; text-align:left; font-weight:bold; text-shadow: 2px 2px 2px #FFFFFF;  }
@media only screen and (max-width: 650px)
{
		#menu_3bf16073 { width:150px;  }
}
@media only screen and (max-width: 600px)
{
		#container_38b2d1f2 { width:100%;  }
		#container_40bc1880 { width:100%;  }
		#container_19252999 { width:100%;  }
}
